name: CI
on:
  push:
    branches: [ main ]
jobs:
  build:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v2
      - name: docker login
        env:
          DOCKER_USER: ${{ secrets.DOCKER_USER}}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD}}
        run: |
          docker login -u $DOCKER_USER -p $DOCKER_PASSWORD
      - name: docker build&push
        run: |
          docker build -t grigciulache/httpd4 .
          docker push grigciulache/httpd4
          docker rm -f httpd4
          docker run -it -d -p 80:80 --name httpd4 grigciulache/httpd4
